<%= render 'form' %>

<div class="panel panel-warning">
  <div class="panel-heading">
    asoviewプロジェクト
  </div>
    
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>プロジェクトタイプ</th>
        <th>プロジェクト名</th>
        <th>プロジェクト内容</th>
        <th>編集</th>
        <th>削除</th>
        <th>work</th>
      </tr>
    <% @projects_asoview.each do |project| %>
      <tr>
        <th><%= project.pj_type %></th>
        <th><%= project.pj_name %></th>
        <th><%= project.pj_detail %></th>
        <th><%= link_to 'edit' , edit_project_path(project) %></th>
        <th><%= link_to "destroy" , project , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></th>
        <th><%= link_to "work" , project_path(project.id) %>(<%= project.works.count %>)</th>
      <br>
    <% end %>
  </table>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    メディアプロジェクト
  </div>
  
  <div class="panel-body">
  <table class="table table-striped">
    <tr>
      <th>プロジェクトタイプ</th>
      <th>プロジェクト名</th>
      <th>プロジェクト内容</th>
      <th>編集</th>
      <th>削除</th>
      <th>work</th>
    </tr>
  <% @projects_media.each do |project| %>
    <tr>
      <th><%= project.pj_type %></th>
      <th><%= project.pj_name %></th>
      <th><%= project.pj_detail %></th>
      <th><%= link_to 'edit' , edit_project_path(project) %></th>
      <th><%= link_to "destroy" , project , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></th>
      <th><%= link_to "work" , project_path(project.id) %>(<%= project.works.count %>)</th>
    <br>
  <% end %>
  </table>
  </div>
</div>
  

<div class="panel panel-info">
  <div class="panel-heading">
    ビジネスソリューションプロジェクト
  </div>
    
    <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>プロジェクトタイプ</th>
        <th>プロジェクト名</th>
        <th>プロジェクト内容</th>
        <th>編集</th>
        <th>削除</th>
        <th>work</th>
      </tr>
    <% @projects_bizdev.each do |project| %>
      <tr>
        <th><%= project.pj_type %></th>
        <th><%= project.pj_name %></th>
        <th><%= project.pj_detail %></th>
        <th><%= link_to 'edit' , edit_project_path(project) %></th>
        <th><%= link_to "destroy" , project , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></th>
        <th><%= link_to "work" , project_path(project.id) %>(<%= project.works.count %>)</th>
      <br>
    <% end %>
    </table>
    </div>
</div>