<%= render 'work' %>

<div class="panel panel-warning">
  <div class="panel-heading">
    ワーク一覧
        <% if @project.works.any? %>
       (<%= @project.works.count %>)
        <% end %>
  </div>
    
  <div class="panel-body">
    <table class="table table-striped">
      <tr>
        <th>id</th>
        <th>ワーク名</th>
        <th>ワーク内容</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    <% @works.each do |work| %>
      <tr>
        <th><%= work.id %></th>
        <th><%= work.wkname %></th>
        <th><%= work.wkdetail %></th>
        <%#<th><%= link_to 'edit' , {:controller => "works", :action => "edit", :project_id => @project, :id => 1 }%></th>
        <th><%= link_to 'edit' , edit_project_work_path(@project.id, work.id) %></th>
        <th><%= link_to "destroy" , project_work_path(@project.id, work.id) , method: :delete, data: { confirm: '削除してもよろしいですか？' } %></th>
      <br>
    <% end %>
  </table>
  </div>
</div>